bin
cmake-build-debug
Debug
build
data
lib
msg_gen
msg_gen/*
*.kdev4
.kdev4
.settings
.idea
.project
.cproject
.codelite/*
Testing/*
Testing
map_lines.txt
third_party/ceres
third_party/eigen
auto_lc_debug
