[submodule "third_party/learning-loop-closure"]
	path = third_party/learning-loop-closure
	url = ../../ut-amrl/learning-loop-closure.git
[submodule "third_party/csm"]
	path = third_party/csm
	url = ../../ut-amrl/correlative-scan-matching.git
[submodule "third_party/vector_maps"]
	path = third_party/vector_maps
	url = ../../ut-amrl/CuratingLongTermVectorMaps.git
[submodule "third_party/config-reader"]
	path = third_party/config-reader
	url = ../../ut-amrl/config-reader.git
